body {
    background-color: white /*#5f0000 Christmas red*/;
     }

h4 {
    color: #fff;
    font-size: 18px;
   }

p {
    color : #000;
    text-align : left;
  }

p1 {
    color : #fff;
    text-align : left;
  }

a  {
    color: black;
    text-align: center;
  }

#content {
color: #000;
font-size: 12px;
font-family: Sans;
text-align: left;
width: 790px;
padding: 5px;
background: url("table.png");
}

#top {
color: #fff;
font-size: 15px;
font-family: Sans;
text-align: center;
background: black url(menu.png) center center repeat-x;
width: 800;
height: 30;
}

#bottom {
color: #fff;
font-size: 15px;
font-family: Sans;
text-align: center;
background: transparent url(active.png) center center repeat-x;
width: 800;
height: 40;
}

img {

}

.solidblockmenu{
margin: 0;
padding: 0;
float: left;
font: bold 18px Arial;
width: 100%;
overflow: hidden;
margin-bottom: 1em;
border: 0px solid #625e00;
border-width: 0px 0;
background: black url(menu.png) center center repeat-x;
text-align : center;
}

.solidblockmenu li{
display: inline;
}

.solidblockmenu li a{
float: left;
color: white;
padding: 10px 10px;
text-decoration: none;
text-align : center;
border-right: 2px solid #6cff00;
}

.solidblockmenu li a:visited{
color: #fff;
text-align : center;
}

.solidblockmenu li a:hover{
color: #FFFFFF;
background: transparent url(table.png) center center repeat-x;
text-align : center;
}

.solidblockmenu li .current{
color: #FFFFFF;
background: transparent url(active.png) center center repeat-x;
}

#vertical_slide, #comment-s {
	background: #C8C8C8;
	color: #757575;
	padding: 10px;
	border: 0px;
	font-weight: bold;
}

#accordion {
	margin:20px 0px;
}

h4.toggler {
	font-size: 12px;
	background: #C8C8C8;
	color: #757575;
	margin: 0 0 4px 0;
	padding: 3px 5px 1px;
}

div.element p, div.element h4 {
	margin:0px;
	padding:4px;
}
